<!DOCTYPE html>
<head>
  <title>Expert-AI RLHF</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='scavenger.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />

  <style>
      #counterDiv {
        position: fixed;
        top: 0;
        right: 0;
        background-color: silver;
        padding: 10px;
        /* border: 1px solid black; */
        z-index: 999;
      }
    </style>

  <script type="text/javascript">

    let dids = {{dids}};  // in array
    let options_order = {{options_order}};  // 2d in array

    window.onload = function(){
        // let obj = document.getElementById('submit');
        // obj.onclick = function(){
        //     let form = document.getElementById('form');
        //     if(form.checkValidity()){
        //         obj.classList.add('loading');
        //     }
        // }
    }
  </script>
</head>

<body>
  <!-- Counter element -->
  <div id="counterDiv"></div>

  <h2>Expert-AI RLHF</h2>

  <form id='form' action="/" method="post">
    <div class="hor">
        <p>You are presented with several screens showing a <b>category</b> and a couple of <b>text paragraphs</b>.<br>
        The paragraphs refer to the following question in a simulation environment:<br><br>
        <i class="large"><b>Question:</b> "How will Iran contest the deployment of US forces during the defense of free movement through the Strait of Hormuz?"</i><br><br>
        Choose the paragraph that provides a more <b>accurate reference</b> and is a <b>better match</b> for the specified category. In other words - the one that appeals to you more...
    </p>
    <hr/>
    </div>
    <br>
    <!-- <input id='submit' type="submit" value="Submit" /> -->
  </form>

  <div class="result">
      <table>
      {% if data %}
          {% for row in data %}
          <tr id="section_{{row.get('did')}}">
              <td><br><nobr>Category: <b>{{row.get('category')}}</b></nobr></td>
              <td><p>{{row.get('option1')|safe}}</p></td>
              <td><p>{{row.get('option2')|safe}}</p></td>
          </tr>

         {% endfor %}
      {% endif %}

          <tr>
              <td><button>Back</button></td>
              <td><button>Vote 1</button></td>
              <td>
                  <button>Vote 2</button>
                  <button>Skip</button>
                  <button>Submit and finish</button>
              </td>
          </tr>
      </table>
  </div>

<script src="{{ url_for('static', filename='utils.js') }}" type="text/javascript"></script>
<script type="text/javascript">

// TODO - set buttons as named vars
// TODO - define the Submit - set cook value with expanding array - JSON.stringify & JSON.parse
// TODO - make the submit thing with sql in py

// 10. local storage in Flask - then pull local-s on load and remove indices
// 20. counter up right absolute position
// 30. get answers from samle_df  = [0, 1] -swap for sampled
// 40. vote buttons up and down - google colors
// 50. skip - set -1
// 60. on submit also add everything to local storage
// 70. write results to db

hide_all_sections()
updateCounter();

if (currentDid < 1) {
    buttons[0].hidden = true;
}

if (currentDid < dids.length - 1) {
    buttons[4].hidden = true;
}

// Show the first section.
document.getElementById('section_' + dids[currentDid]).hidden = false;

// Handle the Vote 1 button click.
buttons[1].addEventListener('click', () => {vote_click(0)} );

// Handle the Vote 2 button click.
buttons[2].addEventListener('click', () => {vote_click(1)} );

// Handle the Skip button click.
buttons[3].addEventListener('click', () => {vote_click(-1)});

// Handle the Back button click.
buttons[0].addEventListener('click', () => {
  currentDid--;
  showPreviousSection();
});

// ====== END BARD =======
</script>

</body>
